NUXT_SITE_URL=https://example.com
NUXT_SITE_NAME=Abolfazl's Blog

NUXT_TELEGRAM_BOT_TOKEN=8507217808:AAGgIQlOTwcvAPn9EsVQL4bKX9uerGqj5MY
NUXT_TELEGRAM_CHAT_ID=5479189128

NUXT_OG_IMAGE_SECRET=9d792197b246cdfb78ae2a08bdf349f0aa624e075079b80aa21f0a4295fb3fa3

NUXT_HTTP_PROXY=