@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
	--font-sans: "Geist", sans-serif;
}

.router-link-active {
	opacity: 1;
}

/* Hide scroll bar */
::-webkit-scrollbar {
	width: 0;
	height: 0;
}

* {
	scrollbar-width: none;
}

html,
body {
	-ms-overflow-style: none;
}


.link {
	@apply hover:text-primary hover:underline
}